# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db